Books List

<% all_books = Read.read %>

<h2>Book Titles</h2>

<ol>
<% all_books.each do |jup| %> 
<li><strong> <%= link_to jup["title"],"/books/#{jup["id"]}" %></strong> Written by <strong><%=jup.author%></li></strong>



<%end%>
<ol>


<% chu_tiya= Read.find_by(average_rating: Read.maximum(:average_rating))%>
The Editor's Pick is <strong><%= link_to chu_tiya['title'],"/books/#{chu_tiya["id"]}" %></strong>







