<table border="5" style="width:500px">
<tr>
  <td><big>Title</big></td>
  <td><big>Author</big> </td>
</tr>
<tr>
  <td> </td>
  <td> </td>
</tr>
<tr>
  <td>A Brief History of Time</td>
  <td>Stephen Hawking</td> 
</tr>
<tr>
  <td>Alice in Wonderland</td>
  <td>Lewis Carroll</td> 
</tr>
<tr>
  <td>The Lord of the Rings</td>
  <td>J.R.R Tolkien</td> 
</tr>
<tr>
  <td>The Hobbit</td>
  <td>J.R.R Tolkien</td> 
</tr>
</table>
